body {
    background-color: black;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto",sans-serif;
}
.feed {
    background-color: white;
    max-width: 500px;
}
.header-feed {
    display: flex;
}
.iconos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 15px;
  }
  .icono {
    font-size: 24px;
  }
.x {
    justify-items: center;
    margin-right: 375px;
    font-size: small;
    line-height: 0.5;
}

.imagen{
    text-align: center;
}
.container-icons{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 24px;
    padding: 10px;
    gap: 15px;
}

.right{
    margin-left: auto;
}
